.pl-1 {
  padding-left: 1px; }

.mt-1 {
  margin-top: 1px; }

.pl-2 {
  padding-left: 2px; }

.mt-2 {
  margin-top: 2px; }

.pl-3 {
  padding-left: 3px; }

.mt-3 {
  margin-top: 3px; }

.pl-4 {
  padding-left: 4px; }

.mt-4 {
  margin-top: 4px; }

.pl-5 {
  padding-left: 5px; }

.mt-5 {
  margin-top: 5px; }

.pl-6 {
  padding-left: 6px; }

.mt-6 {
  margin-top: 6px; }

.pl-7 {
  padding-left: 7px; }

.mt-7 {
  margin-top: 7px; }

.pl-8 {
  padding-left: 8px; }

.mt-8 {
  margin-top: 8px; }

.pl-9 {
  padding-left: 9px; }

.mt-9 {
  margin-top: 9px; }

.pl-10 {
  padding-left: 10px; }

.mt-10 {
  margin-top: 10px; }

.pl-11 {
  padding-left: 11px; }

.mt-11 {
  margin-top: 11px; }

.pl-12 {
  padding-left: 12px; }

.mt-12 {
  margin-top: 12px; }

.pl-13 {
  padding-left: 13px; }

.mt-13 {
  margin-top: 13px; }

.pl-14 {
  padding-left: 14px; }

.mt-14 {
  margin-top: 14px; }

.pl-15 {
  padding-left: 15px; }

.mt-15 {
  margin-top: 15px; }

.pl-16 {
  padding-left: 16px; }

.mt-16 {
  margin-top: 16px; }

.pl-17 {
  padding-left: 17px; }

.mt-17 {
  margin-top: 17px; }

.pl-18 {
  padding-left: 18px; }

.mt-18 {
  margin-top: 18px; }

.pl-19 {
  padding-left: 19px; }

.mt-19 {
  margin-top: 19px; }

.pl-20 {
  padding-left: 20px; }

.mt-20 {
  margin-top: 20px; }

.pl-21 {
  padding-left: 21px; }

.mt-21 {
  margin-top: 21px; }

.pl-22 {
  padding-left: 22px; }

.mt-22 {
  margin-top: 22px; }

.pl-23 {
  padding-left: 23px; }

.mt-23 {
  margin-top: 23px; }

.pl-24 {
  padding-left: 24px; }

.mt-24 {
  margin-top: 24px; }

.pl-25 {
  padding-left: 25px; }

.mt-25 {
  margin-top: 25px; }

.pl-26 {
  padding-left: 26px; }

.mt-26 {
  margin-top: 26px; }

.pl-27 {
  padding-left: 27px; }

.mt-27 {
  margin-top: 27px; }

.pl-28 {
  padding-left: 28px; }

.mt-28 {
  margin-top: 28px; }

.pl-29 {
  padding-left: 29px; }

.mt-29 {
  margin-top: 29px; }

.pl-30 {
  padding-left: 30px; }

.mt-30 {
  margin-top: 30px; }

.pl-31 {
  padding-left: 31px; }

.mt-31 {
  margin-top: 31px; }

.pl-32 {
  padding-left: 32px; }

.mt-32 {
  margin-top: 32px; }

.pl-33 {
  padding-left: 33px; }

.mt-33 {
  margin-top: 33px; }

.pl-34 {
  padding-left: 34px; }

.mt-34 {
  margin-top: 34px; }

.pl-35 {
  padding-left: 35px; }

.mt-35 {
  margin-top: 35px; }

.pl-36 {
  padding-left: 36px; }

.mt-36 {
  margin-top: 36px; }

.pl-37 {
  padding-left: 37px; }

.mt-37 {
  margin-top: 37px; }

.pl-38 {
  padding-left: 38px; }

.mt-38 {
  margin-top: 38px; }

.pl-39 {
  padding-left: 39px; }

.mt-39 {
  margin-top: 39px; }

.pl-40 {
  padding-left: 40px; }

.mt-40 {
  margin-top: 40px; }

.pl-41 {
  padding-left: 41px; }

.mt-41 {
  margin-top: 41px; }

.pl-42 {
  padding-left: 42px; }

.mt-42 {
  margin-top: 42px; }

.pl-43 {
  padding-left: 43px; }

.mt-43 {
  margin-top: 43px; }

.pl-44 {
  padding-left: 44px; }

.mt-44 {
  margin-top: 44px; }

.pl-45 {
  padding-left: 45px; }

.mt-45 {
  margin-top: 45px; }

.pl-46 {
  padding-left: 46px; }

.mt-46 {
  margin-top: 46px; }

.pl-47 {
  padding-left: 47px; }

.mt-47 {
  margin-top: 47px; }

.pl-48 {
  padding-left: 48px; }

.mt-48 {
  margin-top: 48px; }

.pl-49 {
  padding-left: 49px; }

.mt-49 {
  margin-top: 49px; }

.pl-50 {
  padding-left: 50px; }

.mt-50 {
  margin-top: 50px; }

.pl-51 {
  padding-left: 51px; }

.mt-51 {
  margin-top: 51px; }

.pl-52 {
  padding-left: 52px; }

.mt-52 {
  margin-top: 52px; }

.pl-53 {
  padding-left: 53px; }

.mt-53 {
  margin-top: 53px; }

.pl-54 {
  padding-left: 54px; }

.mt-54 {
  margin-top: 54px; }

.pl-55 {
  padding-left: 55px; }

.mt-55 {
  margin-top: 55px; }

.pl-56 {
  padding-left: 56px; }

.mt-56 {
  margin-top: 56px; }

.pl-57 {
  padding-left: 57px; }

.mt-57 {
  margin-top: 57px; }

.pl-58 {
  padding-left: 58px; }

.mt-58 {
  margin-top: 58px; }

.pl-59 {
  padding-left: 59px; }

.mt-59 {
  margin-top: 59px; }

.pl-60 {
  padding-left: 60px; }

.mt-60 {
  margin-top: 60px; }

.pl-61 {
  padding-left: 61px; }

.mt-61 {
  margin-top: 61px; }

.pl-62 {
  padding-left: 62px; }

.mt-62 {
  margin-top: 62px; }

.pl-63 {
  padding-left: 63px; }

.mt-63 {
  margin-top: 63px; }

.pl-64 {
  padding-left: 64px; }

.mt-64 {
  margin-top: 64px; }

.pl-65 {
  padding-left: 65px; }

.mt-65 {
  margin-top: 65px; }

.pl-66 {
  padding-left: 66px; }

.mt-66 {
  margin-top: 66px; }

.pl-67 {
  padding-left: 67px; }

.mt-67 {
  margin-top: 67px; }

.pl-68 {
  padding-left: 68px; }

.mt-68 {
  margin-top: 68px; }

.pl-69 {
  padding-left: 69px; }

.mt-69 {
  margin-top: 69px; }

.pl-70 {
  padding-left: 70px; }

.mt-70 {
  margin-top: 70px; }

.pl-71 {
  padding-left: 71px; }

.mt-71 {
  margin-top: 71px; }

.pl-72 {
  padding-left: 72px; }

.mt-72 {
  margin-top: 72px; }

.pl-73 {
  padding-left: 73px; }

.mt-73 {
  margin-top: 73px; }

.pl-74 {
  padding-left: 74px; }

.mt-74 {
  margin-top: 74px; }

.pl-75 {
  padding-left: 75px; }

.mt-75 {
  margin-top: 75px; }

.pl-76 {
  padding-left: 76px; }

.mt-76 {
  margin-top: 76px; }

.pl-77 {
  padding-left: 77px; }

.mt-77 {
  margin-top: 77px; }

.pl-78 {
  padding-left: 78px; }

.mt-78 {
  margin-top: 78px; }

.pl-79 {
  padding-left: 79px; }

.mt-79 {
  margin-top: 79px; }

.pl-80 {
  padding-left: 80px; }

.mt-80 {
  margin-top: 80px; }

.pl-81 {
  padding-left: 81px; }

.mt-81 {
  margin-top: 81px; }

.pl-82 {
  padding-left: 82px; }

.mt-82 {
  margin-top: 82px; }

.pl-83 {
  padding-left: 83px; }

.mt-83 {
  margin-top: 83px; }

.pl-84 {
  padding-left: 84px; }

.mt-84 {
  margin-top: 84px; }

.pl-85 {
  padding-left: 85px; }

.mt-85 {
  margin-top: 85px; }

.pl-86 {
  padding-left: 86px; }

.mt-86 {
  margin-top: 86px; }

.pl-87 {
  padding-left: 87px; }

.mt-87 {
  margin-top: 87px; }

.pl-88 {
  padding-left: 88px; }

.mt-88 {
  margin-top: 88px; }

.pl-89 {
  padding-left: 89px; }

.mt-89 {
  margin-top: 89px; }

.pl-90 {
  padding-left: 90px; }

.mt-90 {
  margin-top: 90px; }

.pl-91 {
  padding-left: 91px; }

.mt-91 {
  margin-top: 91px; }

.pl-92 {
  padding-left: 92px; }

.mt-92 {
  margin-top: 92px; }

.pl-93 {
  padding-left: 93px; }

.mt-93 {
  margin-top: 93px; }

.pl-94 {
  padding-left: 94px; }

.mt-94 {
  margin-top: 94px; }

.pl-95 {
  padding-left: 95px; }

.mt-95 {
  margin-top: 95px; }

.pl-96 {
  padding-left: 96px; }

.mt-96 {
  margin-top: 96px; }

.pl-97 {
  padding-left: 97px; }

.mt-97 {
  margin-top: 97px; }

.pl-98 {
  padding-left: 98px; }

.mt-98 {
  margin-top: 98px; }

.pl-99 {
  padding-left: 99px; }

.mt-99 {
  margin-top: 99px; }

.pl-100 {
  padding-left: 100px; }

.mt-100 {
  margin-top: 100px; }

.pl-101 {
  padding-left: 101px; }

.mt-101 {
  margin-top: 101px; }

.pl-102 {
  padding-left: 102px; }

.mt-102 {
  margin-top: 102px; }

.pl-103 {
  padding-left: 103px; }

.mt-103 {
  margin-top: 103px; }

.pl-104 {
  padding-left: 104px; }

.mt-104 {
  margin-top: 104px; }

.pl-105 {
  padding-left: 105px; }

.mt-105 {
  margin-top: 105px; }

.pl-106 {
  padding-left: 106px; }

.mt-106 {
  margin-top: 106px; }

.pl-107 {
  padding-left: 107px; }

.mt-107 {
  margin-top: 107px; }

.pl-108 {
  padding-left: 108px; }

.mt-108 {
  margin-top: 108px; }

.pl-109 {
  padding-left: 109px; }

.mt-109 {
  margin-top: 109px; }

.pl-110 {
  padding-left: 110px; }

.mt-110 {
  margin-top: 110px; }

.pl-111 {
  padding-left: 111px; }

.mt-111 {
  margin-top: 111px; }

.pl-112 {
  padding-left: 112px; }

.mt-112 {
  margin-top: 112px; }

.pl-113 {
  padding-left: 113px; }

.mt-113 {
  margin-top: 113px; }

.pl-114 {
  padding-left: 114px; }

.mt-114 {
  margin-top: 114px; }

.pl-115 {
  padding-left: 115px; }

.mt-115 {
  margin-top: 115px; }

.pl-116 {
  padding-left: 116px; }

.mt-116 {
  margin-top: 116px; }

.pl-117 {
  padding-left: 117px; }

.mt-117 {
  margin-top: 117px; }

.pl-118 {
  padding-left: 118px; }

.mt-118 {
  margin-top: 118px; }

.pl-119 {
  padding-left: 119px; }

.mt-119 {
  margin-top: 119px; }

.pl-120 {
  padding-left: 120px; }

.mt-120 {
  margin-top: 120px; }

.pl-121 {
  padding-left: 121px; }

.mt-121 {
  margin-top: 121px; }

.pl-122 {
  padding-left: 122px; }

.mt-122 {
  margin-top: 122px; }

.pl-123 {
  padding-left: 123px; }

.mt-123 {
  margin-top: 123px; }

.pl-124 {
  padding-left: 124px; }

.mt-124 {
  margin-top: 124px; }

.pl-125 {
  padding-left: 125px; }

.mt-125 {
  margin-top: 125px; }

.pl-126 {
  padding-left: 126px; }

.mt-126 {
  margin-top: 126px; }

.pl-127 {
  padding-left: 127px; }

.mt-127 {
  margin-top: 127px; }

.pl-128 {
  padding-left: 128px; }

.mt-128 {
  margin-top: 128px; }

.pl-129 {
  padding-left: 129px; }

.mt-129 {
  margin-top: 129px; }

.pl-130 {
  padding-left: 130px; }

.mt-130 {
  margin-top: 130px; }

.pl-131 {
  padding-left: 131px; }

.mt-131 {
  margin-top: 131px; }

.pl-132 {
  padding-left: 132px; }

.mt-132 {
  margin-top: 132px; }

.pl-133 {
  padding-left: 133px; }

.mt-133 {
  margin-top: 133px; }

.pl-134 {
  padding-left: 134px; }

.mt-134 {
  margin-top: 134px; }

.pl-135 {
  padding-left: 135px; }

.mt-135 {
  margin-top: 135px; }

.pl-136 {
  padding-left: 136px; }

.mt-136 {
  margin-top: 136px; }

.pl-137 {
  padding-left: 137px; }

.mt-137 {
  margin-top: 137px; }

.pl-138 {
  padding-left: 138px; }

.mt-138 {
  margin-top: 138px; }

.pl-139 {
  padding-left: 139px; }

.mt-139 {
  margin-top: 139px; }

.pl-140 {
  padding-left: 140px; }

.mt-140 {
  margin-top: 140px; }

.pl-141 {
  padding-left: 141px; }

.mt-141 {
  margin-top: 141px; }

.pl-142 {
  padding-left: 142px; }

.mt-142 {
  margin-top: 142px; }

.pl-143 {
  padding-left: 143px; }

.mt-143 {
  margin-top: 143px; }

.pl-144 {
  padding-left: 144px; }

.mt-144 {
  margin-top: 144px; }

.pl-145 {
  padding-left: 145px; }

.mt-145 {
  margin-top: 145px; }

.pl-146 {
  padding-left: 146px; }

.mt-146 {
  margin-top: 146px; }

.pl-147 {
  padding-left: 147px; }

.mt-147 {
  margin-top: 147px; }

.pl-148 {
  padding-left: 148px; }

.mt-148 {
  margin-top: 148px; }

.pl-149 {
  padding-left: 149px; }

.mt-149 {
  margin-top: 149px; }

.pl-150 {
  padding-left: 150px; }

.mt-150 {
  margin-top: 150px; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.image-desktop {
  display: inline-block; }
  @media only screen and (max-width: 1024px) {
    .image-desktop {
      display: none; } }

.image-desktop-tablet {
  display: inline-block; }
  @media only screen and (max-width: 640px) {
    .image-desktop-tablet {
      display: none; } }

.image-tablet {
  display: none; }
  @media only screen and (max-width: 1024px) {
    .image-tablet {
      display: inline-block; } }
  @media only screen and (max-width: 640px) {
    .image-tablet {
      display: none; } }

.image-mobile {
  display: none; }
  @media only screen and (max-width: 640px) {
    .image-mobile {
      display: inline-block; } }

/*define*/
/*define*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  margin-bottom: 10px; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box;
  outline: none; }

.text-center {
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  padding-left: 20px;
  padding-right: 20px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

@font-face {
  font-family: 'HelveticaNeue-Condensed';
  src: url("../fonts/HelveticaNeue-Condensed.eot");
  src: url("../fonts/HelveticaNeue-Condensed.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Condensed.woff") format("woff"), url("../fonts/HelveticaNeue-Condensed.woff2") format("woff2"), url("../fonts/HelveticaNeue-Condensed.ttf") format("truetype"), url("../fonts/HelveticaNeue-Condensed.svg#HelveticaNeue-Condensed") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("../fonts/HelveticaNeue-Light.eot");
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url("../fonts/HelveticaNeue-Medium.eot");
  src: url("../fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: url("../fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Pacifico';
  src: url("../fonts/Pacifico.eot");
  src: url("../fonts/Pacifico.eot?#iefix") format("embedded-opentype"), url("../fonts/Pacifico.woff") format("woff"), url("../fonts/Pacifico.woff2") format("woff2"), url("../fonts/Pacifico.ttf") format("truetype"), url("../fonts/Pacifico.svg#Pacifico") format("svg");
  font-weight: normal;
  font-style: normal; }
.home img {
  margin-top: 55px; }
.home .home-title {
  color: #018ad2;
  padding-top: 50px;
  font-size: 51px; }
.home h1 {
  color: #fff;
  font-size: 71px;
  padding-top: 90px; }
.home .top-item h2 {
  font-family: 'Pacifico';
  color: #018ad2;
  margin-bottom: 30px; }
.home .top-item p {
  font-size: 35px; }
.home .top-item .text-primary {
  color: #018ad2; }
.home .top-item .icon {
  display: inline-block;
  margin-left: 35px; }
  .home .top-item .icon li {
    float: left;
    list-style-type: none;
    text-align: center;
    padding-right: 35px; }

.home-gkgd, .home-dtcc, .home-ctcs, .home-extension {
  margin-top: -200px; }

.item_section {
  position: relative;
  padding-top: 200px; }
  .item_section .extension-title {
    color: #414141; }
  .item_section .extension-menu .extension-width {
    width: 50%;
    float: left;
    font-size: 38px;
    margin-bottom: 100px; }
  .item_section .item_section_background {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0; }
  .item_section .icon-top {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1; }
  .item_section .blue {
    background: #770aca !important; }
  .item_section .green {
    background: #dfba3a !important; }
  .item_section .gray {
    background: #33cba2 !important; }
  .item_section .content_section {
    background: #4dc6e9;
    padding-bottom: 288px; }
    .item_section .content_section p {
      font-size: 44px;
      color: #fff; }
    .item_section .content_section .timeline-section {
      padding-left: 95px;
      padding-right: 95px; }
      .item_section .content_section .timeline-section .home-content {
        font-size: 38px;
        border: 3px solid #fff;
        -webkit-border-radius: 65px;
        -moz-border-radius: 65px;
        border-radius: 65px;
        padding: 45px 0;
        margin-bottom: 32px;
        margin-top: 0;
        position: relative;
        color: #fff; }
        .item_section .content_section .timeline-section .home-content:after {
          content: '';
          display: block;
          position: absolute;
          border-right: 3px solid #fff;
          height: 32px;
          left: 50%;
          bottom: -34px; }
      .item_section .content_section .timeline-section .home-content:last-child:after {
        content: '';
        display: block;
        position: absolute;
        border-right: 3px solid #fff;
        height: 96px;
        left: 50%;
        bottom: -96px; }
      .item_section .content_section .timeline-section .span-border {
        height: 32px;
        border-right: 3px solid #fff; }
      .item_section .content_section .timeline-section .span-border-height {
        height: 96px; }
  .item_section .btn-content-section .btn-section {
    padding: 45px 0;
    display: inline-block;
    color: #fff;
    margin-top: 60px;
    width: 625px; }
  .item_section .btn-content-section .home:after {
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    border-radius: 65px; }
  .item_section .btn-content-section .home span {
    font-family: "HelveticaNeue-Bold", Helvetica, arial, sans-serif;
    font-size: 44px; }

.home-cssk .content_section .text-home-cssk {
  padding: 60px 220px; }

.home-gkgd .content_section .text-home-gkgd {
  padding: 60px 120px; }

.home-dtcc .content_section .section_content_dtccp {
  padding: 0 220px;
  margin-top: 55px;
  margin-bottom: 80px; }
.home-dtcc .content_section .timeline-section .home-content:first-child {
  padding-left: 100px;
  padding-right: 100px; }

.home-ctcs .home-ctcs-background {
  background: #8d33d3;
  background: -webkit-linear-gradient(#8d33d3, #7100c8);
  background: linear-gradient(#8d33d3, #7100c8);
  background: -webkit-linear-gradient(#8d33d3, #7100c8);
  background: -o-linear-gradient(#8d33d3, #7100c8);
  background: -moz-linear-gradient(#8d33d3, #7100c8);
  background: linear-gradient(#8d33d3, #7100c8); }
  .home-ctcs .home-ctcs-background .section_content_p {
    padding: 60px 190px; }
  .home-ctcs .home-ctcs-background .home-content {
    padding-left: 160px !important;
    padding-right: 160px !important; }

.home-extension .home-extension-background {
  background: #fff !important; }

.btn-wrapper {
  border: 3px solid #008bd2;
  -webkit-border-radius: 104px;
  -moz-border-radius: 104px;
  border-radius: 104px;
  width: 862px;
  display: inline-block; }
  .btn-wrapper .btn-home-register {
    display: inline-block;
    padding: 0px 100px;
    font-size: 44px; }
    .btn-wrapper .btn-home-register .text-btn {
      color: #018ad2; }

.footer-menu {
  position: fixed;
  top: 25%;
  right: 3%;
  cursor: pointer; }

body {
  font-size: 24px;
  line-height: 1.42;
  color: #464646;
  font-family: "HelveticaNeue-Light", Helvetica, arial, sans-serif; }

strong {
  font-family: "HelveticaNeue-Bold", Helvetica, arial, sans-serif; }

.col-50 {
  width: 50%;
  padding: 0 10px;
  float: left; }

#wrapper {
  width: 1024px;
  min-height: 1816px;
  margin: 0 auto;
  overflow-x: hidden;
  font-size: 36px; }

.item, .itum {
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  /* @include respond-to($break-991){
     width: 700px;
   }*/ }
  .item.red, .red.itum {
    background: red; }
  .item .title, .itum .title {
    font-size: 20px;
    color: #ff0000;
    border: 1px solid #000;
    position: relative; }
    .item .title:after, .itum .title:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 20px;
      height: 20px;
      opacity: 0;
      -webkit-transition: 1s ease;
      -moz-transition: 1s ease;
      -ms-transition: 1s ease;
      -o-transition: 1s ease;
      transition: 1s ease;
      background: black; }
    .item .title:hover, .itum .title:hover {
      color: blue; }
      .item .title:hover:after, .itum .title:hover:after {
        left: 50%;
        opacity: 1;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
    @media only screen and (max-width: 1199px) {
      .item .title, .itum .title {
        font-size: 30px; } }
  .item .img, .itum .img {
    display: block; }
  @media only screen and (min-width: 992px) {
    .item, .itum {
      width: 500px; } }

.itum {
  background: red; }

.login .content-box {
  background: url("../images/img/bg_screen.jpg"); }
  .login .content-box .img {
    width: 41%; }
  .login .content-box .name {
    text-align: center;
    font-size: 50px; }
  .login .content-box form input[type="text"] {
    height: 130px;
    width: 82%;
    font-size: 43px;
    background: #ffffff;
    border-radius: 15px;
    border: none; }
  .login .content-box form input {
    margin-top: 30px;
    padding-left: 50px;
    text-align: center; }
.login .foot-box {
  background: #018ad2; }

.ctcs-background {
  background: #8d33d3;
  background: -webkit-linear-gradient(#8d33d3, #7100c8);
  background: linear-gradient(#8d33d3, #7100c8);
  background: -webkit-linear-gradient(#8d33d3, #7100c8);
  background: -o-linear-gradient(#8d33d3, #7100c8);
  background: -moz-linear-gradient(#8d33d3, #7100c8);
  background: linear-gradient(#8d33d3, #7100c8);
  padding-top: 40px;
  padding-bottom: 300px;
  color: #ffffff; }

.dtcc-background {
  background: #34cba2;
  background: -webkit-linear-gradient(#34cba2, #01be8b);
  background: linear-gradient(#34cba2, #01be8b);
  background: -webkit-linear-gradient(#34cba2, #01be8b);
  background: -o-linear-gradient(#34cba2, #01be8b);
  background: -moz-linear-gradient(#34cba2, #01be8b);
  background: linear-gradient(#34cba2, #01be8b);
  padding-top: 40px;
  padding-bottom: 300px;
  color: #ffffff; }

.cssk-background {
  background: #32bee6;
  background: -webkit-linear-gradient(#32bee6, #00aee0);
  background: linear-gradient(#32bee6, #00aee0);
  background: -webkit-linear-gradient(#32bee6, #00aee0);
  background: -o-linear-gradient(#32bee6, #00aee0);
  background: -moz-linear-gradient(#32bee6, #00aee0);
  background: linear-gradient(#32bee6, #00aee0);
  padding-top: 40px;
  padding-bottom: 300px;
  color: #ffffff; }

.gkgd-background {
  background: #dfba3b;
  background: -webkit-linear-gradient(#dfba3b, #d8ab0f);
  background: linear-gradient(#dfba3b, #d8ab0f);
  background: -webkit-linear-gradient(#dfba3b, #d8ab0f);
  background: -o-linear-gradient(#dfba3b, #d8ab0f);
  background: -moz-linear-gradient(#dfba3b, #d8ab0f);
  background: linear-gradient(#dfba3b, #d8ab0f);
  padding-top: 40px;
  padding-bottom: 300px;
  color: #ffffff; }

.wrap-page .name {
  padding-bottom: 85px; }
  .wrap-page .name span {
    font-size: 76px;
    color: #fff; }
.wrap-page .image {
  text-align: center; }
  .wrap-page .image img {
    width: 65%;
    border: 3px solid #fff;
    border-radius: 50% 50%;
    padding: 20px;
    box-sizing: border-box; }
.wrap-page .head {
  padding-bottom: 90px; }
  .wrap-page .head .title_head {
    font-size: 39px;
    padding-top: 100px; }
  .wrap-page .head .img_head .img1 {
    padding-top: 80px;
    width: 11%; }
  .wrap-page .head .slogan_head {
    padding-top: 30px;
    font-size: 45px; }
.wrap-page .bg_white {
  background: #ffffff; }
.wrap-page .content {
  display: block;
  margin: auto;
  width: 94.14%;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  overflow: hidden; }
  .wrap-page .content .title {
    height: 160px;
    padding-top: 40px; }
    .wrap-page .content .title span {
      font-size: 51px;
      margin: auto; }
  .wrap-page .content .img_content img {
    width: 100%; }
  .wrap-page .content .box_content {
    padding-top: 85px;
    padding-bottom: 20px;
    color: #414141;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 36px; }
    .wrap-page .content .box_content span {
      color: #7e18cd; }
  .wrap-page .content .gray {
    color: #989898;
    padding-top: 0px; }
  .wrap-page .content .box-img {
    padding-top: 140px;
    padding-bottom: 140px; }
    .wrap-page .content .box-img img {
      width: 75%; }
  .wrap-page .content .btn {
    min-height: 200px;
    padding-bottom: 100px;
    padding-top: 30px; }
    .wrap-page .content .btn .change_point {
      color: #252525;
      text-align: center;
      font-size: 39px;
      padding-top: 0;
      padding-bottom: 30px; }
    .wrap-page .content .btn .stand {
      padding-bottom: 0px;
      margin-bottom: 0px; }
    .wrap-page .content .btn .gray {
      color: #989898;
      font-size: 31px;
      line-height: 44px; }
    .wrap-page .content .btn .point {
      -webkit-border-radius: 83px;
      -moz-border-radius: 83px;
      -ms-border-radius: 83px;
      -o-border-radius: 83px;
      border-radius: 83px;
      color: #fff;
      font-size: 75px;
      font-family: "HelveticaNeue-Bold", Helvetica, arial, sans-serif;
      width: 50%;
      margin: auto;
      padding-top: 27px;
      padding-bottom: 27px;
      overflow: hidden; }

.icon_head {
  list-style: none inside; }
  .icon_head .list {
    float: left;
    width: 50%;
    padding-top: 60px; }
    .icon_head .list:nth-child(3) {
      float: none;
      display: block;
      margin: 55px auto 0;
      clear: both; }

.ctcs-background .point {
  background: #7f19cd; }

.dtcc-background .point {
  background: #34cba2; }

.cssk-background .point {
  background: #32bee6; }

.gfgd-background .point {
  background: #dfba3b; }

.wrap-page .next-box {
  margin-top: 30px; }

.dark {
  position: relative; }
  .dark:after {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 0; }
  .dark span {
    position: relative;
    z-index: 1; }

.clearfix {
  clear: both; }

/*# sourceMappingURL=styles.css.map */
