.home {
  .background-top {
    background: #929292;
    height: 65px;
  }
  img{
    margin-top: 55px;
  }
  h1{
    color: #018ad2;
    margin-top: 20px;
  }
  .top-item{
    h2{
      font-family: 'Pacifico';
      color: #018ad2;
    }
  }
}