/*than home new*/
.slick-dotted {
  &.slick-slider{
    margin-bottom: 0;
  }
}
.regular {
  width: 100%;
  margin:0 auto;
  .item_section{
    padding-top: 0px;
  }
  .slick-slide {
    img{
      margin: 0;
      display: inline;
    }
  }
  .slick-dots{
    bottom: 100px;
    li{
      width: 30px;
      margin: 0 10px;
      button{
        width: 30px;
      }
      button:before{
        font-size: 25px;
        opacity: 1;
        color: white;
        padding-top: 7px;
        width: 30px;
        height: 20px;

      }
      &:first-child{
        button{
          &:before{
            background: url("../images/img/icon-home.png") no-repeat;
            content: " ";
            width: 100%;
          }

        }
      }
      &.slick-active {
        button{
          &:before{
            opacity: .75;
            color: black;
          }
        }
      }
    }
  }
  .home-item{
    li{
      button:before{
        opacity: 0.25;
        color: #000000;
      }
      &:first-child{
        button{
          &:before{
            background: url("../images/img/icon-home-blue.png") no-repeat;
          }
        }
      }
      &.slick-active {
        button{
          &:before{
            opacity: 1;
          }
        }
      }
    }
  }
  .home-center{
    text-align: center;
  }
  .slider-item{

      .content_section{
        padding-bottom: 130px;
        .text-home-content{
          font-size: 38px;
          width: 82%;
          margin: auto;
          padding-top: 90px;
          padding-bottom: 80px;
        }
        .title-item{
          font-size: 62px;
          color: #fff;
          padding-top: 200px;
          padding-bottom: 80px;
        }
        .btn-content-section{
          padding-bottom: 130px;
        }
      }
    }
    .logo{
      margin-top: 70px;
      margin-bottom: 40px;
    }
    .home-title{
      color: #018ad2;
      margin-bottom: 70px;
    }
    .top-item{
      .fcv-canhamanhkhoe{
        margin-top: 70px;
      }
      .content-home{
        text-align: justify;
        width: 82%;
        margin: auto;
        padding-bottom: 150px;
        .text-primary{
          color: #018ad2;
        }
      }
    }
  .slider-gkgd{
    background: url("../images/img/bg-gkgd.jpg");
  }
  .slider-dtcc{
    background: url("../images/img/bg-dtcc.jpg");
  }
  .slider-cssk{
    background: url("../images/img/bg-cssk.jpg");
  }
  .slider-ctcs{
    background: url("../images/img/bg-ctcs.jpg");

  }
}

/*than home new*/