.home {
  .background-top {
    background: #929292;
    height: 65px;
  }
  img{
    margin-top: 55px;
  }
  .home-title{
    color: #018ad2;
    padding-top: 50px;
  }
  h1{
    color: #fff;
    font-size: 36px;
    padding-top: 90px;
  }
  .top-item{
    h2{
      font-family: 'Pacifico';
      color: #018ad2;
      margin-bottom: 30px;
    }
    p{
      font-size: 18px;
    }
    .text-primary{
      color: #018ad2;
    }
    .icon{
      display: inline-block;
      margin-left: 35px;
      li {
        float: left;
        list-style-type: none;
        text-align: center;
        padding-right: 35px;
      }
    }
  }
}

.item_section{
  position: relative;
  padding-top: 200px;
  .item_section_background{
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translate(-50%,0);
      z-index: 0;
    }
  .icon-top{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 1;
  }
  .content_section{
    background: #4dc6e9;
  }
  }