.login{
  .content-box{
    background: url("../images/img/bg_screen.jpg");
    .img{
      width: 41%;
    }
    .name{
      text-align: center;
      font-size: 50px;

    }
    form{
      input[type="text"]{
        height:130px;
        width: 82%;
        font-size: 43px;
        background: #ffffff;
        border-radius: 15px;
        border: none;

      }
      input{
        margin-top: 30px;
        padding-left: 50px;
        text-align: center;

      }
    }
  }
  .foot-box{
    background: #018ad2;
  }


}

//==============================================================ctcs================

.ctcs-background {
  @include textGradient(#8d33d3, #7100c8);
  padding-top: 40px;
  padding-bottom: 300px;
  color: #ffffff;
}
.wrap-page {
  .name {
    padding-bottom: 85px;
    span {
      font-size: 76px;
      color: #fff;
    }
  }
  .image {
    text-align: center;
    img {
      width: 65%;
      border: 3px solid #fff;
      border-radius: 50% 50%;
      padding: 20px;
      box-sizing: border-box;
    }
  }
  .head {
    padding-bottom: 90px;
    p {
      font-size: 39px;
      padding-top: 100px;
    }
    img {
      padding-top: 80px;
      width: 11%;
    }
    h3 {
      padding-top: 30px;
      font-size: 45px;
      font-family: $main-b;
    }
  }
  .bg_white{
    background: #ffffff;
  }
  .content {
    display: block;
    margin: auto;
    width: 94.14%;
    @include radius(50px);
    overflow: hidden;

    .title {
      height: 160px;
      padding-top: 40px;
      span {
        font-size: 51px;
        margin: auto;
      }
    }
    img {
      width: 100%;

    }
    p {
      padding-top: 85px;
      padding-bottom: 20px;
      color: #414141;
      text-align: left;
      padding-left: 5%;
      padding-right: 5%;
      font-size: 36px;
      span {
        color: #7e18cd;
      }
    }
    .box-img {
      padding-top: 140px;
      padding-bottom: 140px;
      img {
        width: 75%;
      }
    }
    .btn {
      min-height: 200px;
      padding-bottom: 100px;
      padding-top: 30px;
      p {
        color: #252525;
        text-align: center;
        font-size: 39px;
        padding-top: 0;
      }
      .point {
        @include radius(83px);
        color: #fff;
        font-size: 75px;
        font-family: $main-b;
        background: #7f19cd;
        width: 50%;
        margin: auto;
        padding-top: 27px;
        padding-bottom: 27px;
        overflow: hidden;
      }
    }

  }
}

.dark{
  position: relative;
  &:after{
    content: " ";
    display: block;
    position: absolute;
    @include size(100%, 100%);
    background: #000;
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 0;
  }
  span{
    position: relative;
    z-index: 1;
  }
}



















